@font-face {
    font-family: "restaurant";
    src: url('./fonts/Crispy\ Bakery.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

html {
    height: 100%;
}



header {
    background-color: rgb(60, 45, 45);
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 10px;
}

nav > button {

    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0px 10px;

    font-size: large;

    background-color: #b3a6a6;
}


#content {

    background-color: #b3a6a6;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    flex-grow: 1;
    min-height: 0;

    border: 1px solid rgb(199, 23, 23);
}

#home {
    padding: 30px;
    margin-top: 40px;



    border: 1px solid black;
    height: 700px;
}

#home > h1 {
    font-family: "restaurant";
}